*{
  margin: 0px;
  padding: 0px;
}


body{
    height: 100%;
    width: 100%;
  }
  .cf{
    content: " ";
    display: table;
    clear: both;
  }
  a,img {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  body{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    font-size:16px;
  }
@media screen and (min-width:1200px) {
    /* header */
  .header{
    width: 1366px;
    height: 120px;
    margin: auto;
    position: fixed;
    background-color: white;
    display: flex;
  }
  .header img{
    height: 90px;
    width: 90px;
    padding: 20px 50px ;
  }
  .header nav ul {
    display: flex;
    padding: 0px 50px 0 200px;
  }
  .header nav ul li a{
    height: 50px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 75px 12px 0 12px;
  }
  .header nav ul li:first-child{
    background-color: #f86a1e;
    align-content: center;
    padding: 70px 10px 0 10px;
  }
  .header nav ul li {
    align-content: center;
    padding : 70px 30px 0 30px;
  }
  .header nav ul li :hover{
    background-color: #f86a1e;
    align-content: center;
    margin: 70px 0px 0 0px;
  }
  .dropdown{
    display: none;
  }
  .contact{
    height: 500px;
    width: 1366px;
    margin: auto;
    padding-top: 140px;
    display: flex;
  }
  .contact img{
    height: 480px;
    width: 500px;
    padding-left: 50px;
  }
  .cont article{
    display: flex;
    padding: 20px;
  }
  .cont{
    padding-top: 70px;
  }
  .cont article img{
    height: 30px;
    width: 30px;
    margin-right: 30px;
  }
  .cont article p{
    margin-top: 5px;
  }
  .text-success{
    color: green;
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
  .text-danger{
    color: #dc3545;
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
  .fa-whatsapp{
    color: green;
    height: 30px;
    width: 30px;
    margin-right: 16px;
  }
  .cont article p a{
    margin-right: 20px;
    color: black;
  }

  .footer{
    width: 1366px;
    height: 450px;
    margin: auto;
    display: flex;
  }
  .footer article{
    height: auto;
    width: 400px;
    margin: 50px;
  }

  .our{
    display: flex;
    margin-top: 20px;
    width: 700px;
  }
  .our ul {
    margin-right: 30px;
    line-height: 45px;
  }
  .our ul li a{
    color: #f86a1e;
  }
  .about {
    display: flex;
  }
  .about h3:last-child{
    color: #f86a1e;
    padding-left: 10px;
  }
  .footer article p{
    padding-top: 20px;
    color: gray;
  }
  .icon {
    padding-left: 100px;
  }
  .icon button{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: #f86a1e;
    font-size: 16px;
    cursor: pointer;
  }
  .icon a{
      margin-right: 20px;
  }
  .footer article:last-child{
    font-size: 15px;
    width: 420px;
  }
  .copy{
    color: #f8945e;
    padding-left: 450px;
  }
  strong{
    color: #f86a1e;
  }
  span{
    margin-right: 10px;
  }
}

@media screen and (min-width:769px) and (max-width:1199px) {
    /* header */
  .header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: white;
    display: flex;
  }
  .header  img{
    height: 80px;
    width: 80px;
    padding: 20px 50px ;
  }
  .header nav{
    display: block;
    margin: auto;
  }
  .header nav ul {
    height: 100px;
    display: flex;
  }
  .header nav ul li a{
    height: 50px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    padding: 75px 12px 0 12px;
  }
  .header nav ul li:first-child{
    background-color: #f86a1e;
    align-content: center;
    padding: 70px 10px 0 10px;
  }
  .header nav ul li {
    align-content: center;
    padding : 70px 0 0 30px;
  }
  .header nav ul li :hover{
    background-color: #f86a1e;
    align-content: center;
    margin: 70px 0px 0 0px;
  }
  .dropbtn{
    display: none;
  }
  .dropdown{
    display: none;
  }
    .contact{
      width: 100%;
      margin: auto;
      padding-top: 140px;
      display: flex;
    }
    .logo{
      display: block;
      margin: auto;
    }
    .contact img{
      height: 380px;
      width: 400px;
      padding-left: 30px;
    }
    .cont article{
      display: flex;
      padding: 20px;
    }
    .cont article p{
      margin-top: 5px;
    }
    .cont{
      padding-top: 70px;
    }
    .cont article img{
      height: 30px;
      width: 30px;
      margin-right: 30px;
    }

    .text-success{
      color: green;
      height: 50px;
      width: 50px;
      margin-right: 30px;
    }
    .text-danger{
      color: #dc3545;
      height: 50px;
      width: 50px;
      margin-right: 30px;
    }
    .fa-whatsapp{
      color: green;
      height: 30px;
      width: 30px;
      margin-right: 16px;
    }
    .cont article p a{
      margin-right: 20px;
      color: black;
    }

    .footer{
      width: 100%;
      margin: auto;
      display: flex;
    }
    .footer article{
      height: auto;
      width: 300px;
      margin: 30px 30px 0 30px;
    }

    .our{
      width: 250px;
      margin-top: 20px;
    }
    .our ul {
      margin-right: 30px;
      line-height: 45px;
    }
    .our ul li a{
      color: #f86a1e;
    }
    .about {
      display: flex;
    }
    .about h3:last-child{
      color: #f86a1e;
      padding-left: 10px;
      font-size: 18px;
    }
    .footer article p{
      padding-top: 20px;
      color: gray;
      font-size: 14px;
    }
    .icon {
      padding-left: 70px;
    }
    .icon button{
      height: 30px;
      width: 100px;
      margin-left: 10px;
      background-color: #f86a1e;
      font-size: 16px;
      cursor: pointer;
    }
    .icon a{
        margin-right: 20px;
    }
    .footer article:last-child{
      font-size: 15px;
      width: 420px;
    }
    .copy{
      color: #f8945e;
      padding-left: 200px;
    }
    strong{
      color: #f86a1e;
    }
}


@media screen and (max-width:768px) {
  .header{
    width: 100%;
    height: 100px;
    margin: auto;
    position: fixed;
    background-color: white;
    display: flex;
  }
  .header img{
    height: 80px;
    width: 80px;
    padding: 20px 50px ;
  }
  .header nav ul {
    display: flex;
    padding: 0px 50px 0 300px;
    display: none;
  }
  .header nav ul li a{
    height: 50px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 75px 12px 0 12px;
  }
  .header nav ul li:first-child{
    background-color: #f86a1e;
    align-content: center;
    padding: 70px 10px 0 10px;
  }
  .header nav ul li {
    align-content: center;
    padding : 70px 30px 0 30px;
  }
  .header nav ul li :hover{
    background-color: #f86a1e;
    align-content: center;
    margin: 70px 0px 0 0px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    margin: 30px 30px 0 0;
  }
  .dropbtn {
    width: 30px;
    height: 30px;
    float: right;
    background: #f86a1e;
    border-color: transparent;
    color: white;
    cursor: pointer;
  }
  .dropdown-content {
    width: 170px;
    height: 300px;
    position: absolute;
    overflow: auto;
    z-index: 1;
    right: 0;
    display: none;
    margin-top: 30px;
  }
  .dropdown-content ul li {
    color: white;
    border: 0.1px solid rgba(255, 225, 225, .2);
    padding: 12px 16px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #f86a1e;
  }
  .dropdown-content li a{
    color: white;
  }

  .dropdown-content li:hover {background-color: gray;}

  .dropdown:hover .dropbtn {background-color:rgba(248,106,30,.5);}

  .contact{
    width: 100%;
    margin: auto;
    padding-top: 140px;
  }
  .logo{
    display: block;
    margin: auto;
  }
  .contact img{
    height: 200px;
  }
  .cont article{
    display: flex;
    padding: 20px;
  }
  .cont{
    padding-top: 70px;
  }
  .cont article p{
    margin-top: 5px;
  }
  .cont article img{
    height: 30px;
    width: 30px;
    margin-right: 30px;
  }

  .text-success{
    color: green;
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
  .text-danger{
    color: #dc3545;
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
  .fa-whatsapp{
    color: green;
    height: 30px;
    width: 30px;
    margin-right: 16px;
  }
  .cont article p a{
    margin-right: 20px;
    color: black;
  }

  .footer{
    width: 100%;
    margin: auto;
  }
  .footer article{
    height: auto;
    margin: 30px;
  }

  .our{
    margin-top: 20px;
  }
  .our ul {
    margin-right: 30px;
    line-height: 45px;
  }
  .our ul li a{

    color: #f86a1e;
  }
  .about {
    display: flex;
  }
  .about h3:last-child{
    color: #f86a1e;
    padding-left: 10px;
  }
  .footer article p{
    padding-top: 20px;
    color: gray;
  }
  .icon {
    padding-left: 100px;
  }
  .icon button{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: #f86a1e;
    font-size: 16px;
    cursor: pointer;
  }
  .icon a{
      margin-right: 20px;
  }
  .footer article:last-child{
    font-size: 15px;
  }
  .copy{
    color: #f8945e;
    padding: 0px 30px 0 30px;
    text-align: center;
  }
  strong{
    color: #f86a1e;
  }
}
